body {
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.content {
  max-width: 700px;
  margin: auto;
  background: white;
}

.intro {
  margin-top: 3rem;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  display: inline-block;
  text-decoration: none;
}

.socials svg {
  width: 24px;
  height: 24px;
  vertical-align: right;

}

.socials a:hover svg {
  transform: scale(1.2);
}

#dir {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 2rem;
    font-size: 1rem;
}

h1 {
  margin-bottom: 0;
  font-size: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

a {
  color: black;
}

.nav > a{
 font-size: 0.75rem;
 flex: 1;
}

footer {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
